step_functions/workflow.json
{
  "Comment": "Job Description Analyzer — Multi-Agent Workflow",
  "StartAt": "ParseJob",
  "States": {
    "ParseJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "job-analyzer-agent-parser",
        "Payload.$": "$"
      },
      "ResultSelector": { "Payload.$": "$.Payload" },
      "OutputPath": "$.Payload",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 3, "MaxAttempts": 3, "BackoffRate": 2
        }
      ],
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "HandleError" }],
      "Next": "EstimateSkills"
    },
    "EstimateSkills": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "job-analyzer-agent-skills",
        "Payload.$": "$"
      },
      "ResultSelector": { "Payload.$": "$.Payload" },
      "OutputPath": "$.Payload",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException"],
          "IntervalSeconds": 3, "MaxAttempts": 2, "BackoffRate": 2
        }
      ],
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "HandleError" }],
      "Next": "AnalyzeSalary"
    },
    "AnalyzeSalary": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "job-analyzer-agent-salary",
        "Payload.$": "$"
      },
      "ResultSelector": { "Payload.$": "$.Payload" },
      "OutputPath": "$.Payload",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException"],
          "IntervalSeconds": 3, "MaxAttempts": 2, "BackoffRate": 2
        }
      ],
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "HandleError" }],
      "Next": "ScoreDifficulty"
    },
    "ScoreDifficulty": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "job-analyzer-agent-difficulty",
        "Payload.$": "$"
      },
      "ResultSelector": { "Payload.$": "$.Payload" },
      "OutputPath": "$.Payload",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException"],
          "IntervalSeconds": 3, "MaxAttempts": 2, "BackoffRate": 2
        }
      ],
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "HandleError" }],
      "Next": "IdentifyGaps"
    },
    "IdentifyGaps": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "job-analyzer-agent-gaps",
        "Payload.$": "$"
      },
      "ResultSelector": { "Payload.$": "$.Payload" },
      "OutputPath": "$.Payload",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException"],
          "IntervalSeconds": 3, "MaxAttempts": 2, "BackoffRate": 2
        }
      ],
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "HandleError" }],
      "Next": "AggregateResults"
    },
    "AggregateResults": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "job-analyzer-agent-aggregator",
        "Payload.$": "$"
      },
      "ResultSelector": { "Payload.$": "$.Payload" },
      "OutputPath": "$.Payload",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException"],
          "IntervalSeconds": 3, "MaxAttempts": 2, "BackoffRate": 2
        }
      ],
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "HandleError" }],
      "Next": "ResumeCoach"
    },
    "ResumeCoach": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "job-analyzer-agent-resume-coach",
        "Payload": {
          "match_id.$":       "$.match_id",
          "resume_text.$":    "$$.Execution.Input.resume_text",
          "jd_text.$":        "$$.Execution.Input.job_description",
          "overall_score.$":  "$.match_score",
          "skill_gaps.$":     "$.gaps.nice_to_have",
          "job_title.$":      "$.job_title_detected",
          "required_skills.$":"$.skills_analysis.matched_skills"
        }
      },
      "ResultSelector": { "Payload.$": "$.Payload" },
      "OutputPath": "$.Payload",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException"],
          "IntervalSeconds": 5, "MaxAttempts": 2, "BackoffRate": 2
        }
      ],
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "HandleError" }],
      "End": true
    },
    "HandleError": {
      "Type": "Fail",
      "ErrorPath": "$.Error",
      "CausePath": "$.Cause"
    }
  }
}